.hide {
    display: none;
}

.canvas {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transform-origin: top left;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    width: 100px;
}

*::selection {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
}

.no-touch {
    pointer-events: none;
}