:root {
    --font-body: "greycliff-cf", sans-serif;
    --font-primary: "termina", sans-serif;
    --font-l: 3rem;
    --font-m: 1.8rem;
    --font-s: 1.1rem;
    --primary-color: #ECAD0A;
    --sadness-color: #3C8BD5;
    --anger-color: #CF1A1A;
    --excitement-color: #ECAD0A;
    --calm-color: #76BA53;
    --surprise-color: #26B7A6;
    --anxiety-color: #8C55B2;
}

section {
    border-bottom: solid black 0.2rem;
    padding-bottom: 5rem;
}

html,
.body {
    max-width: 450px;
    min-height: 100dvh;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #DADADA;
    font-family: var(--font-body);
}

.body {
    border: black 0.01rem dashed;
    display: grid;
    place-items: center;
}

.main__wrapper {
    height: fit-content;
    background-image: url("../assets/img/home_concept.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 0 bottom;
    overflow: visible;
    padding-top: 11rem;
    margin-top: -11rem;
    padding-left: 5rem;
    margin-left: -5rem;
    display: grid;
    place-items: center;
}

.section {
    display: grid;
    gap: 1rem;
    place-items: center;
    padding-block: 2rem;
    min-height: 100dvh;
}

.main {
    grid-template-rows: repeat(5, min-content);
}

.main__header {
    grid-row: 1;
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: var(--font-l);
    letter-spacing: 0.5rem;
    width: min-content;
    margin-left: -2rem;
    height: fit-content;
}

.main__header--second {
    position: relative;
    left: 4rem;
}

.main__shoutout {
    grid-row: 2;
    font-family: var(--font-body);
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    justify-self: end;
    margin-right: 1rem;
}

.main_img {
    aspect-ratio: 1/1;
    width: 50vh;
    max-width: 92%;
    grid-row: 3;
}

.main__text {
    grid-row: 4;
    font-size: var(--font-s);
    font-family: var(--font-body);
    text-align: center;
    max-width: 24rem;
    margin-inline: 1rem;
}

strong {
    font-weight: 700;
}

.btn,
.btn__secondary {
    color: black;
    font-family: var(--font-body);
    font-size: 1.1rem;
    text-decoration: none;
    width: 12.5rem;
    height: 3.5rem;
    display: grid;
    place-items: center;
    background-image: url("../assets/img/primary_btn.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.btn__secondary {
    background-image: url("../assets/img/secondary_btn.png");
}

.main_btn {
    grid-row: 4;
}

.btn__back {
    grid-row: 1;
    width: 3rem;
    justify-self: start;
    align-self: baseline;
    margin-inline: 0.7rem;
}





.header {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: var(--font-m);
    grid-row: 2;
    font-family: var(--font-primary);
    height: fit-content;
}

.connect__header {
    display: grid;
    place-content: center;
}

.connect__header--first::after {
    grid-area: 1 / 1;
    content: "";
    display: block;
    position: relative;
    top: -3.5rem;
    right: -6rem;
    height: 8rem;
    width: 8rem;
    background-image: url("../assets/img/connect_scribbles.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.connect__header--second {
    grid-area: 1 / 1;
    margin-left: 0.5rem;
    margin-top: 2rem;
}

.connect__header--first {
    grid-area: 1 / 1;
}

.connect {
    width: 100%;
    grid-template-rows: 5rem repeat(4, min-content);
}

.connect_wrapper {
    grid-row: 3;
    height: fit-content;
    width: 100%;
    background-image: url("../assets/img/connect_bg.png");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center center;
    overflow: visible;
    padding-block: 8rem;
    margin-block: -8rem;
    padding-inline: 10rem;
    margin-inline: -10rem;
    display: grid;
    place-items: center;
}

.connect__text,
.step__text {
    font-size: var(--font-s);
}

.connect__text--yellow {
    font-size: 5rem;
    font-family: var(--font-primary);
    font-weight: 700;
}

.connect__text--first {
    justify-self: start;
    margin-bottom: 1rem;
    margin-inline: 4rem;
}

.connect__text--last {
    font-weight: 600;
    padding-top: 2rem;
    margin-right: 5rem;
}

.connect_container {
    display: flex;
    align-items: center;
    justify-self: end;
    padding-right: 2rem;
}

.connect_text--cta {
    font-size: 1.3rem;
    max-width: 15rem;
    text-align: center;
    margin-block: 6rem 2rem;
}

.connect__back {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    grid-row: 1;
}







.dancer {
    grid-template-rows: repeat(5, min-content);
}

.dancer__img {
    grid-row: 1;
    max-width: 62vh;
}

.dancer_name {
    grid-row: 2;
    display: grid;
    place-items: center;
    background-image: url("../assets/img/dancer_bg.png");
    background-size: 60%;
    padding-block: 4rem;
    margin-block: -6rem -2rem;
    padding-inline: 12rem;
    margin-inline: -12rem;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    width: 100%;
}

.dancer__firstname,
.dancer__surname {
    grid-area: 1 / 1;
    z-index: 20;
    color: white;
    font-size: 2.2rem;
    font-family: var(--font-primary);
    margin-left: 7rem;
}

.dancer__firstname {
    justify-self: start;
}

.dancer__firstname::after,
.dancer__surname::before {
    grid-area: 1 / 1;
    content: "";
    display: block;
    position: relative;
    top: -1rem;
    right: -7.5rem;
    height: 1.5rem;
    width: 15rem;
    background-image: url("../assets/img/white_line.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.dancer__surname::before {
    top: 4rem;
    left: -16rem;
    height: 3rem;
    width: 15rem;
    background-position: top;
}

.dancer__surname {
    justify-self: end;
}

.dancer_wrapper {
    grid-row: 3;
    margin-inline: 1.5rem 3rem;
}

.dancer__title {
    font-weight: 700;
    font-size: var(--font-s);
}

.dancer__author {
    font-size: 0.9rem;
    margin-top: 0.3rem;
    margin-bottom: 0.4rem;
}

.dancer__text {
    font-size: var(--font-s);
    margin-bottom: 1rem;
}

.dalma::after {
    right: -10rem;
}

.dalma {
    margin-left: 5.5rem;
}

.lorenzo::after {
    right: -12rem;
}

.lorenzo {
    margin-left: 3rem;
}



.instruction {
    grid-template-rows: repeat(7, min-content);
}

.instruction__header {
    font-weight: 400;
    grid-row: 1;
    margin-block: 1rem;
}

.instruction__question {
    color: var(--anger-color);
    font-weight: 700;
    font-size: 1.3rem;
    grid-row: 3;
    margin-inline: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.instruction__text {
    font-size: var(--font-s);
    margin-inline: 2rem;
    line-height: 1.4;
    grid-row: 2;
}

.instruction__underlined {
    border-bottom: solid black 0.2rem;
    border-image: url("../assets/img/black_line.png") 40;
    justify-self: start;
    padding-left: 2rem;
    font-size: var(--font-s);
    font-weight: 700;
    z-index: 10;
    margin-block: 2rem 3.7rem;
}

.instruction__wrapper {
    display: grid;
    place-items: right;
    width: 100%;
    background-image: url("../assets/img/alice_small.png");
    background-size: 73%;
    padding-block: 6rem 8rem;
    margin-block: -6rem -2rem;
    padding-inline: 10rem;
    margin-inline: -10rem;
    background-repeat: no-repeat;
    background-position: center;
}

.instruction__title,
.instruction__name {
    justify-self: end;
    margin-right: 3rem;
}

.instruction__title {
    font-size: var(--font-s);
    font-weight: 700;
}

.instruction__name {
    margin-right: 7.4rem;
}

.instruction__end {
    opacity: 40%;
}



.emotion {
    grid-template-rows: 1.5fr 1fr;
    background-image: url("../assets/img/sadness_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
}

.emotion__surprise {
    background-image: url("../assets/img/surprise_bg.png");
}

.emotion__anger {
    background-image: url("../assets/img/anger_bg.png");
}

.emotion__excitement {
    background-image: url("../assets/img/excitement_bg.png");
}

.emotion__calm {
    background-image: url("../assets/img/calm_bg.png");
}

.emotion__anxiety {
    background-image: url("../assets/img/anxiety_bg.png");
}

.emotion__title {
    font-weight: 900;
    color: var(--sadness-color);
    font-size: var(--font-l);
}

.emotion__title--surprise {
    color: var(--surprise-color);
}

.emotion__title--anger {
    color: var(--anger-color);
}

.emotion__title--excitement {
    color: var(--excitement-color);
}

.emotion__title--calm {
    color: var(--calm-color);
}

.emotion__title--anxiety {
    color: var(--anxiety-color);
}

.emotion__btn--sadness {
    color: white;
    background-image: url("../assets/img/sadness_btn.png");
}

.emotion__btn--surprise {
    color: black;
    background-image: url("../assets/img/surprise_btn.png");
}

.emotion__btn--anger {
    color: white;
    background-image: url("../assets/img/anger_btn.png");
}

.emotion__btn--excitement {
    color: black;
    background-image: url("../assets/img/excitement_btn.png");
}

.emotion__btn--calm {
    color: black;
    background-image: url("../assets/img/calm_btn.png");
}

.emotion__btn--anxiety {
    color: white;
    background-image: url("../assets/img/anxiety_btn.png");
}



.explanation {
    color: white;
    background-image: url("../assets/img/emotions_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    grid-template-rows: repeat(7, min-content);
    grid-gap: 0.5rem;
}

.explanation__first{
    margin-block: 3rem 0.4rem;
}

.explanation__header {
    font-weight: 400;
    grid-row: 2;
    margin-bottom: 2rem;
}

.text__red {
    color: var(--anger-color);
}

.explanation__img {
    aspect-ratio: 1/1;
    width: 50vh;
    max-width: 57%;
    grid-row: 5;
    margin-block: 1rem;
}

.explanation__question {
    color: var(--anger-color);
    font-weight: 700;
    font-size: var(--font-s);
    text-align: center;
    margin-inline: 6rem;
}

.explanation__text {
    margin-inline: 3rem;
    text-align: center;
}

.explanation_event {
    border-top: solid black 0.2rem;
    border-bottom: solid black 0.2rem;
    border-image: url("../assets/img/white_line.png") 30;
    padding-block: 1.5rem;

}

.explanation_pre {
    margin-left: 3rem;
    justify-self: start;
    max-width: 15rem;
    margin-bottom: 0.5rem;
}



.step {
    grid-template-rows: 3rem repeat(3, min-content);
    width: 100%;
    background-image: url("../assets/img/step_bg.png");
    background-repeat: no-repeat;
    background-size: 60%;
    padding-inline: 10rem;
    margin-inline: -10rem;
}

.step__1 {
    background-position: center top -10rem;
}

.step__2 {
    background-position: center top 10rem;
}

.step__3 {
    background-position: center bottom -5rem;
}

.step__img {
    aspect-ratio: 1/1;
    width: 50vh;
    height: 30vh;
    padding-right: 5.5rem;
    max-width: 80%;
    grid-row: 3;
    margin-block: 5rem 2rem;
}

.step__header {
    font-weight: 400;
    font-family: var(--font-body);
    width: fit-content;
    grid-row: 2;
    margin-left: -6rem;
    height: fit-content;
    display: grid;
}

.step__header--second {
    font-family: var(--font-primary);
    position: relative;
    left: 4rem;
}

.step__header--third {
    position: relative;
    left: 10rem;
    margin-top: -0.5rem;
}

.step__wrapper {
    margin-inline: 3rem;
    grid-row: 4;
    margin-top: 3rem;
}

.step__number {
    font-size: var(--font-s);
    font-weight: 700;
    margin-bottom: 0.6rem;
}



.ending {
    background-image: url("../assets/img/ending_img.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 60%;
    padding-inline: 10rem;
    margin-inline: -10rem;
    align-items: flex-start;
    grid-template-rows: 29rem repeat(7, min-content);
}

.ending__header {
    font-weight: 400;
    font-family: var(--font-body);
    width: fit-content;
    grid-row: 1;
    height: fit-content;
    display: grid;
    text-align: center;
}

.ending__header--first {
    font-size: 1.3rem;
    text-align: center;
    margin-block: 1.5rem;
}

.ending__header--second {
    margin-left: -12rem;
}

.ending__header--second::after,
.ending__header--last::before {
    grid-area: 1 / 1;
    content: "";
    display: block;
    position: relative;
    height: 1.5rem;
    width: 15rem;
    background-image: url("../assets/img/ending_line.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: top;
}

.ending__header--second::after {
    top: 0.5rem;
    right: -7.5rem;
}

.ending__header--third {
    font-family: var(--font-primary);
    position: relative;
}

.ending__header--last {
    position: relative;
    left: 6rem;
}

.ending__header--last::before {
    right: 1.5rem;
    top: 0.5rem;
}

.ending__wrapper {
    background-image: url("../assets/img/ending_bg.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center 8.2rem;
    padding-block: 3rem;
    margin-block: -3rem;
    padding-inline: 10rem;
    margin-inline: -10rem;
    display: grid;
}

.ending__vid {
    aspect-ratio: 1/1;
    width: 90vh;
    height: 40vh;
    max-width: 105%;
    justify-self: center;
    grid-row: 3;
    padding-inline: 4rem;
    margin-inline: -4rem;
    margin-bottom: 3rem;
}

.ending__secondary {
    font-size: var(--font-s);
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

.ending__name {
    font-size: 2.2rem;
    margin-left: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    font-family: var(--font-primary);
}

.ending__text {
    margin-inline: 2rem;
    margin-top: 0.5rem;
    font-size: var(--font-s);
    line-height: 1.5;
}

.introduction__wrapper,
.discount__wrapper {
    margin-top: 4rem;
    display: grid;
}

.ending__title {
    margin-inline: 2rem;
    font-size: 2.2rem;
    font-family: var(--font-primary);
    margin-bottom: 0.5rem;
}

.ending__title--bold {
    font-weight: 500;
}

.ending__btn:not(:last-child) {
    justify-self: center;
    margin-top: 2rem;
}


.discount__wrapper {
    place-items: center;
}

.ending__text--ticket {
    font-size: 1.3rem;
}

.ending__title--discount {
    font-family: var(--font-body);
    margin-bottom: 0rem;
}

.ending__text--discount {
    font-size: 4rem;
    margin-bottom: 1rem;
    background-image: url("../assets/img/ending_blob.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    padding-block: 2rem;
    margin-block: 2rem;
    text-align: center;
}