body {
    animation: backgroundAnimation forwards 20s infinite;
}

video {
    width: 100%;
}

div {
    border: 0.2px solid black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

@keyframes backgroundAnimation {
    0% {
        background-color: white;
    }

    20% {
        background-color: red;
    }

    40% {
        background-color: blue;
    }

    60% {
        background-color: green;
    }

    80% {
        background-color: yellow;
    }

    100% {
        background-color: white;
    }
}